# Neon Database
DATABASE_URL=postgresql://neondb_owner:npg_Wor39ZHaURmY@ep-plain-term-any8jelh-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAXD2WEPL2RZWQTZYU
AWS_SECRET_ACCESS_KEY=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
S3_BUCKET_NAME=fgi-resources
S3_PRESIGNED_URL_EXPIRY=3600

# Auth (JWT secret — generate with: openssl rand -base64 32)
JWT_SECRET=your-jwt-secret-here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

